.cont1 .par{
    margin: 15px;
    padding: 10px;
    background-color: antiquewhite;
    
}
.cont1 .par h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
  
    
}
.btn button{
    padding: 7px;
    border-radius: 15px;
    display: flex;
}
.btn button a{
    color: #000;
    text-decoration: none;
}
/* .btn button a:hover{
    background-color: #000;
    color: aliceblue;
} */
.btn h4{
    margin: 5px;
}