.h1{
    background-color: antiquewhite;
    margin: 15px;
}
.h1 .basic h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
   
}
.h1 .basic p{
    /* border: 2px solid black; */
    margin: 10px;
    font-size: 1rem;
    padding: 15px;
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
.btn button{
    padding: 7px;
    border-radius: 15px;
    display: flex;
}
.btn button a{
    color: #000;
    text-decoration: none;
}
/* .btn button a:hover{
    background-color: #000;
    color: aliceblue;
} */
.btn h4{
    margin: 5px;
}